<%= render partial: "shared/plain_navbar" %>

<% @user.errors.full_messages.each do |message| %>
  <script>
    $(function() {
        Materialize.toast("<%= message %>", 10000);
      });
  </script>
<% end %>

<div class="container">

  <h1>Signup!</h1>

  <%= form_for @user do |f| %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %> <br><br>

    <%= f.label :last_initial %>
    <%= f.text_field :last_initial %> <br><br>

    <%= f.label :email %>
    <%= f.text_field :email %> <br><br>

    <%= f.label :password %>
    <%= f.password_field :password %> <br><br>

    <%= f.label :password_confirmation, "Password Confirmation"%>
    <%= f.password_field :password_confirmation %><br><br>

    <%= f.submit "Create Account" %>

  <% end %>
</div>
